.user-form {
  display: flex;
  flex-direction: column;
}
.user-form label {
  margin-bottom: 3px;
}
.user-form div {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}
.user-form label {
  font-weight: 600;
}
.user-form button {
  margin-top: 5px;
}
